:root {
  --bg-colour: #2a363f;
  --header-colour: #fff;
  --text-colour: #e0e5e8;
  --accent-green: #61ce70;
  --accent-blue: #3654b5;

  height: 100vh;
  width: 100vw;
  background-color: var(--bg-colour);
  font-family: "Poppins", Sans-serif;
}

h1 {
  color: var(--header-colour);
  font-size: 32px;
}

p {
  color: var(--text-colour);
  font-size: 16px;
}

header {
  padding: 1em;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 1em;
}

.buttonContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  align-content: center;
  justify-content: space-evenly;
  padding: 1em 0;
}

button {
  display: flex;
  background-color: var(--accent-green);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
}

button:hover {
  background-color: var(--accent-blue);
}

.icon {
  color: var(--header-colour);
}

.logo {
  width: 10em;
}
